.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 5%;
    padding-left: 10%;
}
.privacy{
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit; /* Ou toute autre couleur que tu veux définir */
  }
  
  a:hover {
    text-decoration: underline; /* Si tu veux un effet au survol */
  }

.description-footer {
    flex: 1;
    padding-right: 20px; /* Pas de guillemets autour de 20px */
}
.container-foooter{
    background-color: #555d67;
    color: azure;

}

.navigation-footer {
    flex: 1;
    padding-left: 5%;
}

.categories-footer {
    flex: 1;
}
